@charset "UTF-8";
body{
		margin: 0;
	    padding: 0;
	    height: 100%;
	    overflow: hidden;
	    background-color: #FFF7ED;
}

* {
	margin:0;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.3;
	color: #A27032;
	font-size: 1.8rem;
}

html { font-size: 62.5%;
}

/* ===============================================================
header
================================================================= */
.logo {
	height: 80px;
	width: 80px;

	display: block;	
	position: absolute; /* 子要素はabsoluteを指定 */
	top: 5px; /* 上を基準 */
	left: 34px

}

.search {
	margin-left: 600px;
}


/* .nav.active表示 */
.nav.active {
    transform: translateX(-100%);
}

.header__btn {
	height: 20px;
	width: 50px;
	display: block;	
/*	 子要素はabsoluteを指定 */
	position: absolute;
/*	  上を基準 */
	top: 35px;
	right: 50px;  
}

.nav__btn {
	height: 22px;
	width: 22px;
	margin-left: 180px;
}

.header_container {
/*    margin:auto;*/
    max-width: 100%;
    height: 90px;
    
    display: flex;
    align-items: center;
    
    background: #A39584;
}

/* hamburgerボタン内 nav */
.nav {
    background: #FFEDE9;
    width: 27%;
    height: 100vh;
	padding: 24px 6.4%;
 
    position: fixed;
    top: 0;
    right: -55%;
    z-index: 100;
    transition: transform 0.4s;
}

.nav_header {
	display: flex;
	justify-content: space-between;
}

.profile_view,
.logout {
/*	 背景色を無色に */
	  background: transparent;
/*	   枠線を消す */
	  border: none;
/*	   クリックした際に枠線をnone消す */
	  outline: none;
/*	   影を消す */
	  box-shadow: none;
}

.search {
/*	 背景色を無色に */
	  background: transparent;
/*	   枠線を消す */
	  border: none;
/*	   クリックした際に枠線をnone消す */
	  outline: none;
/*	   影を消す */
	  box-shadow: none;
}

.kensaku {
	border-radius: 5px;
	box-shadow: none;
}

.kensaku_btn {
/*	 背景色を無色に */
	  background: transparent;
/*	   枠線を消す */
	  border: none;
/*	   クリックした際に枠線をnone消す */
	  outline: none;
/*	   影を消す */
	  box-shadow: none;
}

/* ===============================================================
main
================================================================= */
section{
/*    background-color: #FFFF;*/
	margin-left: 40px;
}

.side-column button {
/*	 背景色を無色に */
	background: transparent;
/*	枠線を消す */
	border: none;
/*	クリックした際に枠線をnone消す */
	outline: none;
/*	影を消す */
	box-shadow: none;
	line-height: 3rem;
}

.nav_item {
	margin-top: 130px;
}

.nav_item input{
	line-height: 6rem;
}

.risu {
	margin-top: 200px;
	width: 302px;
	height: 226px;
}

.maindisplay {
    flex: 1; /* 利用可能なスペースをすべて占める */
    display: flex; /* 左カラムとコンテンツを横に並べる */
}

.side-column {
    width: 250px; /* 左カラムの幅を指定 */
    height: 100vh;
    background-color: #FFEDE9;
}

.container {
    flex: 1; /* 残りのスペースを占める */
    display: flex;
    flex-direction: column; /* 縦に並べる */
    gap: 20px; /* 要素間の間隔を指定 */
}

/* ===============================================================
footer
============================================================ */

footer {
	background-color: #A39584;
	width: 100%;
 	height: 80px;
    position: absolute;/*②絶対位置*/
    bottom: 0; /*下に固定*/
	
}

.comment {
	margin-top: 10px;
	margin-bottom: 0;
}
