@charset "UTF-8";
* {
	margin:0;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.3;
}

html { font-size: 62.5%;
}

/*スクロール禁止*/
html, body {
    overflow: hidden;
}

.err {
	text-align: center;
	color: #FF0303;
}

body {
	min-height: 100vh;
	background-color: #FFEDE9;
	
	background-image: url("../image/login_item.jpg");
	background-repeat: no-repeat;
	background-size: contain; 
	background-position: center;
	background-attachment: fixed;
}

.logo {
	height: 100px;
	width: 100px;
	display: block;
	margin:80px auto 0;
	padding-right: 10px;
}

.login_frame {
	position: relative;
	height: 450px;
	width: 350px;	
	display: block;
	margin:25px auto 0;	
}

.item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin-top: 60px;
}

.id {
	margin-top: 20px;
	text-align: left;
	color: #A27032;
}

.id_box,
.ps_box{
	border: none;
	border-radius: 10px;
}

.ps {
	margin-top: 32px;
	text-align: left;
	color: #A27032;
}


.login_btn {
	margin: 60px 0 0;
	border: none;
	width: 226px;
	height: 41px;
	border-radius: 10px;
	transition: 0.4s;
	/* カーソルをポインタに */
	cursor: pointer;
	/*初期の色*/
	background-color: #A27032;
	/*文字*/
	color: #FFFF;
}

.login_btn:hover {
    background-color: #D9B59B;
	/*ボタン大きさ*/
	transform: scale(1.1);
}


.register_btn {
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
	border: none;
	background: transparent;
	color: #A27032;
	cursor: pointer;
	transition: 0.4s;
}

.register_btn:hover {
    color: #FFFF;
}


/* js 波の実装 途中*/
/*.canvas_wave {*/
/*	width: 100%;*/
/*	height: 50%;*/
/*}*/

