@charset "UTF-8";

body{
		margin: 0;
	    padding: 0;
	    height: 100%;
	    overflow: hidden;
	    background-color: #FFEDE9;
}

* {
	margin:0;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.3;
	color: #A27032;
	font-size: 1.8rem;
}

html { font-size: 62.5%;
}

.user_edit_frame {
	position: relative;
	height: 740px;
	width: 500px;	
	display: block;
	margin:0 auto;
	z-index: 1;
	
}

/* 画像を円形に表示する */
.circle-image {
    width: 100px; /* 円の直径 */
    height: 100px; /* 円の直径 */
    border-radius: 50%; /* 正円にする */
    object-fit: cover; /* 画像の切り抜き方を指定 */
}


.user_edit-container {
    position: absolute; /* 絶対位置に設定 */
    top: 30px; /* 上に配置 */
    left: 50%; /* 左に配置を中央に */
    transform: translateX(-50%); /* 中央に揃えるための変形 */
    z-index: 100; /* フレームの上に配置 */
    width: 100%; /* フレームの幅に合わせる */
    
    display: flex;  /*フレックスボックスを使用*/ 
    flex-direction: column;  /*縦に配置 */
    align-items: center;  /*中央に揃える*/ 
    justify-content: center;  /*中央に揃える*/ 
    height: 680px; /*高さをフレームに合わせる*/ 
    
}

.icon{
	width: 100px;
	height: 100px;
}

.icon-container {
    display: flex;
    justify-content: center; /* 横方向に中央配置 */
    align-items: center; /* 縦方向に中央配置 */
    margin-bottom: 20px; /* 下部に余白を追加 */
}

/*input .register {*/
/*		装飾を消し去る */
/*	background: transparent;*/
/*	border: none;*/
/*	outline: none;*/
/*}*/

.icon-container input {
	margin-top: 20px;
}

